<div class="opening-overlay" aria-hidden="true">
  <div class="opening-loader">
    <div class="opening-name">
      <span class="opening-name-part">
        <span class="opening-letter">J</span><span class="opening-letter">i</span><span class="opening-letter">a</span><span class="opening-letter">n</span><span class="opening-letter">g</span><span class="opening-letter">n</span><span class="opening-letter">a</span><span class="opening-letter">n</span>
      </span>
      <span class="opening-gap"><span class="opening-cube"></span></span>
      <span class="opening-name-part">
        <span class="opening-letter">H</span><span class="opening-letter">U</span><span class="opening-letter">A</span><span class="opening-letter">N</span><span class="opening-letter">G</span>
      </span>
    </div>
  </div>
</div>
